body {
    font-family: Helvetica;
    font-size: 22px;
    color: #4A4A4A;
}

.blue {
    color: #307CF5
}

.red {
    color: #FF4732;
}

.oval {
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background-color: #2E8DFE;
    border-radius: 50% 50%;
    margin-right: 20px;
}

.cardInfo {
    overflow: hidden;
}

.cardLeft {
    width: 480px;
    height: 100%;
}

.cardRight {
    width: 512px;
    height: 100%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.membershipNormal {
    height: 894px;
}

.membershipPic {
    background: url('../images/membership_card.png') center/100% no-repeat;
}

.logocard {
    height: 449px;
    margin: 40px 0;
}

.logocardPic {
    background: url('../images/color_logo.png') center/100% no-repeat;
}

.rightcard {
    height: 748px;
    margin: 20px 0;
}

.rightcardPic {
    background: url('../images/illustrating_rights.png') center/100% no-repeat;
}












































